<html>

<head>
    <title>{$Think.lang.backoffice_title}</title>
    <meta http-equiv=Content-Type content=text/html;charset=utf-8>
</head>
<frameset rows="64,*" frameborder="NO" border="0" framespacing="0">
    <frame src="__MODULE__/Index/top" noresize="noresize" frameborder="NO" name="topFrame" scrolling="no" marginwidth="0" marginheight="0" target="main" />
    <frameset cols="220,*" id="frame2" name="frame2">
        <frame src="__MODULE__/Index/left" name="leftFrame" noresize="noresize" marginwidth="0" marginheight="0" frameborder="0" scrolling="yes" target="main" />
        <frame src="__MODULE__/Index/right" name="main" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" target="_self" />
    </frameset>
</frameset>
<noframes>

    <body></body>
</noframes>

</html>
