<tr>
    <td>商户ID</td>
    <td>
        <input type="text" name="mid" value="{$mid}" required/>
    </td>
    <tr>
        <tr>
            <td>网站ID</td>
            <td>
                <input type="text" name="site_id" value="{$site_id}" required/>
            </td>
            <tr>
                <tr>
                    <td>Site key</td>
                    <td>
                        <input type="text" name="site_key" value="{$site_key}" required/>
                    </td>
                    <tr>
